html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-family: 'Manrope', sans-serif;
}

body {
  overflow-x: hidden;
  font-family: 'Manrope', sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

app-header,
app-footer {
  display: block;
  width: 100%;
}

router-outlet {
  display: block;
  flex: 1;
  width: 100%;
}

